<!DOCTYPE html>
<html>
<head>
  <title>MaskAPI Detect Mask FE</title>
</head>
<body>
  <input type="file" id="imgup" accept="image/*"/>
  <br/>
  <input type="checkbox" id="enablefacesearch" checked/>
  <label for="enablefacesearch">Auto-crop to face</label>
  <p>Mask Detected:</p>
  <p id="result">N/A</p>
  <script>
    document.getElementById("imgup").addEventListener("change", (evt) => {
      var fReader = new FileReader();
      var f = document.getElementById("imgup").files[0];
      fReader.onloadend = () => {
        document.getElementById("result").innerText = "Processing..."
        var fName = f.name;
        fetch("/api/detect_mask", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            img: fReader.result,
            find_face: !!document.getElementById("enablefacesearch").checked
          })
        }).then((res) => res.json()).then((res) => {
          console.log(res)
          document.getElementById("result").innerText = JSON.stringify(res);
        });;
      };
      fReader.readAsDataURL(f);
    });
  </script>
</body>
</html>